html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  height: 100%;
  padding: 0 0.5em;
  background: #fff;
  border-right: 1px solid #ccc;
}

.graph-wrapper {
  width: 1px;
  height: 100%;
  flex: 1 1;
}

.graph {
  width: 100%;
  height: 100%;
}

.field {
  line-height: 2;
}

.field .input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.field .input label {
  display: inline-block;
  width: 105px;
  min-width: 105px;
}

.field .input input {
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  padding: 2px 5px;
  width: 50px;
  height: 1.2em;
  flex: 1 1;
}

.field .input input:focus {
  outline: none;
  background: #ddd;
}

.field .input.invalid input {
  background: #faa;
}

.field .input.invalid input:focus {
  background: #f88;
}

.field .description {
  line-height: 1.5;
  font-size: smaller;
}

.field  .input + p {
  margin-top: 0;
}
